*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: "Source Sans Pro", sans-serif;;
    --ff-secondary: "Source Code Pro", monospace;;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #d77ed6;
    --clr-accent2: #7ebcd7;
    --clr-accent3: #d7d57e;


    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0,0,0,0.15);
    --background: rgba(0, 214, 170, .85);
}


@media (min-width: 1050px) {
    :root {
        --fs-h1: 6rem;
        --fs-h2: 4rem;
        --fs-h3: 1.5rem;
        --fs-h4: 0.8rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

header {
    background: var(--clr-accent2);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

.container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-light);
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
    scroll-snap-align: start;
}

/* Typography */

h1, h2, h3 {
    line-height: 1.3;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

/* header */

.logoImg {
    max-width: 200px;
}

.logo__img {
    height: 70px;
    opacity: 0.75;
    justify-content: left;
}


/* Sections */

.home {
    background-image: url("../images/home/homeP.png"); 
}

.our-story {
    background-image: url("../images/story/our-storyP.png"); 
}

.the-team {
    background-image: url("../images/team/the-teamP.png"); 
}
  
/* NAV */
  
.navFunc {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__items {
    color: var(--clr-light);
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .navFunc {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
    margin-top: 1em;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 3em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}
  
@media screen and (min-width: 1050px) {
    .hamburger {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        opacity: 89%;
    }

    .logo {
        text-align: left;
        grid-column: 1 / 3;
        margin-left: 2em;
        padding: 0.5em;
    }

    .navFunc {
        all: unset; 
        
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        
        grid-column: span 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 8em;
    }

    .nav__list {
        all: unset;
        display: flex;
    }

    .nav__items {
        list-style: none;
        margin-left: 5em;
        margin-bottom: 0;
        justify-content: right;
        text-align: center;

        font-family: var(--ff-secondary);

    }

    .nav__link {
        all: unset;
        opacity: 1;
        position: relative;
    }

    .nav__link::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .nav__link:hover::before {
        transform: scale(1,1);
    }

    .home {
        background-image: url("../images/home/home.png"); 
    }
    
    .our-story {
        background-image: url("../images/story/our-story3.png"); 
    }
    
    .the-team {
        background-image: url("../images/team/the-team3.png"); 
        background-position-x: -11em;
    }
}

/* HOME */

.wrapper {
    width: 90vw;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-column-gap: 1em;
    height: 65vh;
}

.wrapper > div {
    padding: 1em;
    border-radius: 15px;
}

.wrapper > div:nth-child(odd) {
    background: #7ebcd7;
    opacity: 80%;
}

.wrapper > div:nth-child(even) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle-news {
    text-align: center;
}

.news-sub-one {
    font-size: 2rem;
}

.news-sub-two {
    color: var(--clr-light);
}

.news-img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-body);
    border-radius: 15px;
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 3em;
    text-align: center;
    justify-content: right;
}

.section__subtitle--intro {
    width: 20vw;
    background: var(--clr-accent3);
    opacity: 85%;
}

.section__subtitle--contact {
    font-size: var(--fs-h2);
    color: var(--clr-light);
    margin: auto;
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    opacity: 85%;
}

.contact-two {
    font-size: 1.6rem;
    color: var(--clr-accent);
    margin-bottom: 0.2em;
}

.section__subtitle--para {
    font-size: 0.8rem;
    margin-bottom: 1em;
}

@media screen and (min-width: 1050px) {
    .section__subtitle {
        margin: auto;
        font-size: var(--fs-h3);
    }

    .section__subtitle--para {
        font-size: var(--fs-h4);
        margin-bottom: 0;
    }

    .section__subtitle--contact {
        font-size: var(--fs-h2);
        margin-bottom: 0.3em;
    }

    .contact-two {
        font-size: 3rem;
        margin-bottom: 0em;
    }

    .news-sub-one {
        font-size: 3rem;
    }

}

/* TEAM */

/* CONTACT */

#contact {
    background: var(--clr-light);
}

#contact .join-banner {
    width: 100vw;
    height: 90%;
    position: relative;
    padding: 100px;
    background-image: url("../images/team/the-team3.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
}

#contact .join-banner-text {
    position: relative;
}

#contact .banner-overlay {
    background: var(--clr-dark);
    opacity: 0.85;
    min-width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#contact .page-content {
    height: 100%;
}

#contact li {
    list-style: none;
    display: inline;
    margin: 20px;
    text-align: center;
}

#contact .social-link i {
    color: var(--clr-dark);
    margin-inline-start: 0.5em;
    font-size: 2rem;
    text-decoration: none;
}

#contact .social-link i {
    transition: all 0.5s ease;
}

#contact .social-link i:hover {
    color: var(--clr-accent);
    transform: translateY(-5px);
}

#contact .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-weight: 400;
}

.btn-join {
    background-color: transparent;
    border: 2px solid var(--clr-light);
    box-sizing: border-box;
    color: var(--clr-light);
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    padding: 20px 40px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-join:hover,
.btn-join:active {
    outline: 0;
}

.btn-join:hover {
    background-color: transparent;
    cursor: pointer;
}

.btn-join:before {
    background-color: var(--clr-light);
    content: "";
    position: absolute;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.btn-join:hover:before {
    background-color: var(--clr-accent);
    opacity: 0.6;
}

@media screen and (min-width: 1050px) {
    #contact .social-link i {
        margin-top: 0;
        margin-inline-start: 0.85em;
    }

    #contact .join-banner {
        height: 100%;
        padding-top: 140px;
    }
}